    <main>
    <section class="coffe">
        <img src="images/dulces/cake shop coffee large.png" width="450" alt="coffe">
    </section>
    <section class="dulces">
        <h3 >Dulces</h3>
        <div class="tortas">
            <div class="lista">
                <img src="images/dulces/img.torta.jpg" width="180" alt="Torta chocolate">
                <h3>Tortas</h3>
                <ul>
                    <li>Torta de Zanahoria</li>
                    <li>Torta de Chocolate</li>
                    <li>Torta de Chocolate y Dulce de Leche</li>
                    <li>Torta de Pan</li>
                    <li>Torta Red Velvet</li>
                    <li>Torta de Vainilla</li>
                    <li>Torta Vainilla con Quesillo</li>
                </ul>
            </div>
            <div class="lista">
                <img src="images/dulces/tartas.img.jpeg" width="180" alt="">
                <h3>Tartaletas</h3>
                <ul>
                    <li>Tartaleta de Frutos Rojos</li>
                    <li>Tartaleta de Frutilla</li>
                    <li>Tartaleta de Duraznos</li>
                    <li>Tartaleta de Primavera</li>
                </ul>
            </div>
            <div class="lista">
                <img src="images/dulces/img.catalinas.jpeg" alt="catalinas">
                <h3>Dulces Venezolanos</h3>
                <ul>
                    <li>Catalinas</li>
                    <li>Besitos de Coco</li>
                    <li>Quesillo</li>
                </ul>
            </div>
            <div class="lista">
                <img src="images/dulces/img.torta3leche.jpeg" alt="torta3leches">
                <h3>Postres Fríos y Tortas Frías</h3>
                <ul>
                    <li>Torta Tres Leches</li>
                    <li>Marquessa de Chocolate</li>
                    <li>Marquessa de Limón</li>
                    <li>Marquessa Oreo</li>
                    <li>Pavlova</li>
                </ul>
            </div>
        </div>
    </section>
</main>
