<main>
    <div class="bienvenido">
        <h2>Bienvenido</h2>
        <p>Visitando nuestra pagina web, podrás visualizar las imagenes de nuestra maravillosas gastronomía en especial
            la comida tipca Venezolana, Entremeses, Dulces, Panadería, Pastelerá y Reposteria. </p>
        <p>Iniciamos está aventura gracias al Amor por el Buen Comer, inculcado por nuestros antepasados inmediatos.</p>
    </div>
</main>
<div>
    <h2>¡Disfrutamos enormemente lo que hacemos!</h2>
</div>