<main>
    <h2>Menú</h2>

</main>
<section class="columna">
    <h3>Entremeses</h3>
    <img class="imagen" src="images/menu/collage entremeses.img,jpg.jpeg" width="450" alt="collage Entremeses">
    <ul>
        <li>Arepas</li>
        <li>Tequeños</li>
        <li>Pastelitos</li>
        <li>Empanadas de Maíz</li>
        <li>Cachitos</li>
    </ul>
</section>
<!-- <div>
            <img class="logo" src="img/home/IMG logo grande.jpg" alt="logogrande">
        </div> -->
<section class="columnas">
    <h3>Comidas</h3>
    <img class="img" src="images/menu/collage comidas.img.jpg.jpeg" width="450" alt="collage comidas">
    <ul>
        <li>Pabellón Criollo</li>
        <li>Lassaña (Pasticho)</li>
        <li>Pollo y Vegetales al Wock </li>
        <li>Suprema de Pollo en Salsa Barbacoa</li>
        <li>Cordon Bleu</li>
        <li>Arroz Chino, Loompia y Polla Agridulce</li>
        <li>Milanesa Capresa, Puré de Papas y Vegetales</li>
        <li>Empanada Gallega</li>
        <li>Tarta de Vegetales</li>
        <li>Pan de Jamón</li>
        <li>Hallacas</li>
        <li>Cerdo en Salsa Dulce</li>
    </ul>
</section>