<div class="nosotros">
    <h2>Nosotros</h2>
    <p>Somos un negocio familiar, con un importante respeto por la tradición, pero no por ello estamos desatentos a las
        nuevas necesidades y tendencias que requiere un mercado cada vez más exigente y cambiante. </p>
    <p>Nuestra visión de lo que representa un producto fabricado con calidad, donde se le presta atención no solo a las
        propiedades organolépticas del producto sino también a los valores sociales y ecológicos que reúne.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe veniam inventore maxime modi sunt quidem quos
        ullam soluta voluptatem, cumque fuga asperiores praesentium aliquid libero at voluptates. Dolores, cupiditate
        enim!</p>
</div>

<div class="nosotros">
    <h2>Novedades</h2>
    {{#each novedades}}
    <div>
        <h3>{{titulo}}</h3>
        
        <h4>{{subtitulo}}</h4>
        <p>{{noticia}}</p>
        <hr>
    </div>
    {{/each}}

</div>